{% extends "::base.html.twig" %}
{% block title %}Light - Gandalf{% endblock %}

{% block content %}
    <h2>Гэндальф</h2>
    <p>
        Гэ́ндальф (англ. Gandalf) — один из центральных персонажей легендариума Джона Р. Р. Толкина, в частности,
        повести «Хоббит, или Туда и обратно» и романа «Властелин Колец». Упоминается также в посмертно изданном
        произведении «Сильмариллион» и некоторых других работах Толкина.
    </p>

    <h4>Интересные факты</h4>
    <ul>
        <li>
            В Новой Зеландии, где проходили съёмки экранизации трилогии Толкина, был выпущен набор монет
            с изображением персонажей «Властелина колец», включая пятидесятицентовую монетку с изображением Гэндальфа.
        </li>
        <li>Имя Гэндальф, согласно авторской этимологии, на вымышленном языке вестрон обозначает «эльф с посохом».</li>
        <li>Персонаж в исполнении Маккеллена занял 28 место в списке 100 величайших персонажей кино по версии журнала Empire.</li>
    </ul>
{% endblock %}