<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/catalogfilms/css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <a href="{{ path('catalog_films') }}">Catalog films</a>
            <div class="content">{% block content %}{% endblock %}</div>
            <footer>
                <span>Game Of Thrones © 2013</span>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
