{% extends "::base.html.twig" %}
{% block title %}Shadow - Saruman{% endblock %}

{% block content %}
    <h2>Са́руман</h2>
    <p>
        Са́руман (англ. Saruman, также известен как Саруман Белый (Курунир Лан на синдарине)) — в легендариуме
        Дж. Р. Р. Толкина один из могущественнейших магов Ордена Истари, глава Белого совета. После прибытия в
        Средиземье стал известен среди эльфов как Куруни́р, на языках людей Севера — Саруман. В Валиноре носил
        имя Курумо. Впоследствии, когда он противопоставил себя Ордену, то именовал себя Саруманом Радужным.
        Орки Изенгарда называли Сарумана Шарку, что в переводе с черного наречия означает «Старик».
    </p>
{% endblock %}